{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block monTitre %}Inscription sur le site{% endblock %}
{% block body %}
{{form_start(form)}}
<div class="row m-3">
    <div class="col-6">
        {{form_row(form.username, {
            "attr":{"placeholder":"Saisir votre login"},
            "label":"Votre login"
        })}}
        {{form_widget(form)}}
    </div>
</div>
  <input type="submit" class="btn btn-primary mx-3" value="Valider">
{{form_end(form)}}

{% endblock %}
